.container{
    margin-left:144px;
    border-radius: 3px;
   background-repeat: no-repeat;
background-size: cover;
   border-style: solid; 
   background-image:  url('https://www.kleenandshine.com/v1/Images/pdslogo_tranparent2.PNG');
}