<div class="container" *ngIf="show; else rg" style="margin-left:0px;">
	<div class="row">
		<app-loading [deliver]="load"></app-loading>
	</div>
	<div class="row">


		<label for="uname"> <b>New Password</b></label>
		<input type="text" placeholder="Enter Password" name="np" [(ngModel)]="password" class="form-control">

		<label for="psw"><b>Confirm Password</b></label>
		<input type="password" placeholder="Enter Confirm Password" name="cp" [(ngModel)]="cpassword" class="form-control">
               </div>
		<div class="row">

			<button type="button"  (click)="onCon()" >Confirm</button>
		</div>
	</div>
	<ng-template #rg>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			  <h1>Nothing to display</h1>      
			</div>
		  </div>
		</ng-template>