<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->

<html>

<body>
	

      <div class="container-fluid">
      
<p>{{users}}</p>
          
            <div  class="row">
              <app-loading [deliver]="load" ></app-loading>
            </div>

          
            <div class="row">
              <div *ngIf="tabView" class="col-sm-2">
                      <ul  class="nav nav-pills flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" routerLink="/" role="tab" aria-controls="home"><b>Home</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/aboutus"  role="tab" aria-controls="aboutus"><b>About Us</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/vision"  role="tab" aria-controls="vm"><b>Vision & Mission</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/aboutus"  role="tab" aria-controls="careers"><b>Careers</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" routerLink="/aboutus"  role="tab" aria-controls="contactus"><b>Contact Us</b></a>
                      </li>
                    </ul>
        
                </div>
                <div *ngIf="tabView" class="col-sm-1">
                  <div class="vl"></div>
                  </div>

                <div class="col-sm-9">
                    <div class="tab-content" >
                        <!-- <div class="tab-content"> -->
                      <!-- <app-scrolling [txt]="text"></app-scrolling> -->
                      <div  [ngClass]="isLogin ? 'lghm' : 'tab-content active'" id="home" role="tabpanel">
                          <!-- <div class="tab-pane active"  id="home" role="tabpanel"> -->
                        <!-- <app-home></app-home> -->
                        <!-- <app-aboutus></app-aboutus> -->
                        <router-outlet></router-outlet>
                        </div>
                      <!-- <div class="tab-pane" id="profile" role="tabpanel">..2.</div>
                      <div class="tab-pane" id="messages" role="tabpanel">.3..</div>
                      <div class="tab-pane" id="settings" role="tabpanel">.4..</div> -->
                    </div>
                </div>
          </div>

  </div>





  

<div  *ngIf="tabView" class="container-fluid">
  <div class="jumbotron text-center" id="jumb" style="margin-bottom:0;background-color:green;">
  <p class="text-light"><b style="font-size: 25px;">{{footerText}}</b></p>
</div>
</div>
</body>
</html>