<div class="container-fluid">
  <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search by EmployeeID">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
  <h1 class="text-primary"><u>Employee Details:</u></h1>
    <button type="submit" class="text-light" style="float:right;background-color:brown;"  [hidden]="hidNext" (click)="onchangetab('n')" >NEXT >></button> 
    <button type="submit" class="text-light" style="float:right;background-color:brown;margin-right:6px;"  [hidden]="hidPrev" (click)="onchangetab('p')" ><< Previous</button> 
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a [ngClass]="hidTab1 ? 'nav-link' : 'nav-link active'" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" (click)="showtab(1)" >Personal Details</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="hidTab2 ? 'nav-link' : 'nav-link active'" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="showtab(2)" >Address Details & Designation </a>
  </li>
  <li class="nav-item">
    <a [ngClass]="hidTab3 ? 'nav-link' : 'nav-link active'" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" (click)="showtab(3)" >Bank Account & Other Details</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <form class="form-horizontal" [formGroup]="empForm2" (ngSubmit)="onSubmit()">
      <div class="row"  class="fm" #someInput>
  <div [ngClass]="hidTab1 ? 'tab-pane fade' : 'tab-pane fade show active'" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" [hidden]="hidTab1">

          <div class="row">
             <div class="col">
                <mat-form-field>
                    <input type="text" formControlName="firstName" class="form-control" matInput placeholder="FirstName*">
                    <mat-error>This field is mandatory</mat-error>
                  </mat-form-field>
              </div>
             <div class="col">
                  <mat-form-field>
                    <input type="text" name="middleName" formControlName="middleName" matInput placeholder="Middle Name" class="form-control">
                  <mat-error>This field is mandatory</mat-error>
                  </mat-form-field>
              </div>
              <div class="col">
                  <mat-form-field>
                    <input type="text" name="lastName" formControlName="lastName" matInput placeholder="Last Name" class="form-control">
                  <mat-error>This field is mandatory</mat-error>
                  </mat-form-field>
              </div>
        </div>
        <div class="row">
                  <div class="col">
                                <mat-form-field>
                                  <mat-select formControlName="gender"  aria-placeholder="Gender" >
                                    <mat-option value="">Select Gender</mat-option>
                                      <mat-option value="male">male</mat-option>
                                      <mat-option value="female">female</mat-option>
                                  </mat-select>
                                </mat-form-field>
                  </div>
                  <div class="col">
                               <mat-form-field>
                                  <input  formControlName="birthdate" matInput [matDatepicker]="picker" class="form-control" placeholder="Date Of Birth">
                                  <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                    <mat-error>This field is mandatory</mat-error>
                                </mat-form-field>

                  </div>
                  <div class="col">
                                    <mat-form-field>
                                      <input type="text" formControlName="age" class="form-control" matInput placeholder="Age*">
                                      <mat-error>This field is mandatory</mat-error>
                                    </mat-form-field>
                  </div>
        </div>
        <div class="row">
                  <div class="col">
                                  <mat-form-field>
                                    <input type="text" formControlName="bg" class="form-control" matInput placeholder="Blood Group">
                                    <mat-error>This field is mandatory</mat-error>
                                  </mat-form-field>
                  </div>
                  <div class="col">
                                 <p><b>Marital Status</b></p>
                                <div class="add-bottom-padding"   *ngFor="let c of maritals; let i = index;" >
                                <mat-checkbox (change)="checkValue($event,'m')" name="{{c}}" value="{{c}}" [formControlName]="c">{{c}}</mat-checkbox>
                                </div>
                  </div>
                  <div class="col">
                                   <mat-form-field>
                                      <mat-label>Contact:+91-</mat-label>
                                    <input type="text" name="phone" matInput (focusout)="focusOutFunction('phone',$event)" formControlName="phone" placeholder="Phone*" class="form-control">
                                    <mat-error>This field is mandatory</mat-error>
                                  </mat-form-field>
                  </div>
        </div>
  </div>
  <div [ngClass]="hidTab2 ? 'tab-pane fade' : 'tab-pane fade show active'" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" [hidden]="hidTab2">
              <div class="row">
             <div class="col">
                  <mat-form-field>
                      <input type="text" name="addressLine1" formControlName="ad1" matInput placeholder="Address Line 1" class="form-control">
                        <mat-error>This field is mandatory</mat-error>
                      </mat-form-field>
              </div>
             <div class="col">
                      <mat-form-field>
                      <input type="text" name="addressLine2" formControlName="ad2" matInput placeholder="Address Line 2" class="form-control">
                      <mat-error>This field is mandatory</mat-error>
                    </mat-form-field>
              </div>
              <div class="col">
                    <mat-form-field>
                  <input type="text" name="place" formControlName="place" matInput placeholder="Town/Mandal/Taluka/Village" class="form-control">
                    <mat-error>This field is mandatory</mat-error>
                  </mat-form-field>
              </div>
        </div>
        <div class="row">
                  <div class="col">
                        <mat-form-field>
                        <input type="text" name="state" formControlName="state" matInput placeholder="State" class="form-control">
                        <mat-error>This field is mandatory</mat-error>
                      </mat-form-field>
                       
                  </div>
                  <div class="col">
                        <mat-form-field>
                      <input type="text" name="postal" formControlName="postal" matInput placeholder="Postal Code" class="form-control">
                        <mat-error>This field is mandatory</mat-error>
                      </mat-form-field>

                  </div>
                  <div class="col">
                        <mat-form-field>
                        <input type="text" name="aad" formControlName="aad" matInput placeholder="Aadhar number" class="form-control">
                        <mat-error>This field is mandatory</mat-error>
                      </mat-form-field>
                  </div>
        </div>
        <div class="row">
                  <div class="col">
                      <mat-form-field>
                        <input type="text" name="pan" formControlName="pan" matInput placeholder="PAN number" class="form-control">
                        <mat-error>This field is mandatory</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col">
                          <p><b>Employee Type</b></p>
                        <div class="add-bottom-padding"   *ngFor="let c of empTypes; let i = index;" >
                        <mat-checkbox (change)="checkValue($event,'m')" name="{{c}}" value="{{c}}" [formControlName]="c">{{c}}</mat-checkbox>
                    </div>

                  </div>
                  <div class="col">
                          <mat-form-field>
                            <mat-select formControlName="desg"  aria-placeholder="Designation" >
                              <mat-option value="">Select Designation</mat-option>
                                <mat-option value="Ka">KeyAccountsManager</mat-option>
                                <mat-option value="Su">Supervisor</mat-option>
                                  <mat-option value="Sr">Sr. Manager</mat-option>
                                  <mat-option value="Ast">Asst. Manager</mat-option>
                                    <mat-option value="Su">Office Assistant</mat-option>
                            </mat-select>
                          </mat-form-field>
                  </div>
        </div>
  </div>
  <div [ngClass]="hidTab3 ? 'tab-pane fade' : 'tab-pane fade show active'" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" [hidden]="hidTab3">
          <div class="row">
              <div class="col">
                            <mat-form-field>
                              <input  formControlName="joindate" matInput [matDatepicker]="picker2" class="form-control" placeholder="Date Of Join">
                              <mat-datepicker-toggle matSuffix  [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                                <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
     
              </div>
              <div class="col">
                             
                        <mat-form-field>
                          <input type="text" name="pName" formControlName="gName" matInput placeholder=" Parent/Guardian Full Name" class="form-control">
                          <mat-error>This field is mandatory</mat-error>
                        </mat-form-field>
              </div>
              <div class="col">
                              <mat-form-field>
                                    <mat-label>Alternate Contact:+91-</mat-label>
                          <input type="text" name="gphone"  formControlName="gphone" matInput placeholder="Phone" class="form-control">
                            </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col">
                         <mat-form-field>
                            <input type="text" name="StationCode" formControlName="station" matInput placeholder="Station Code" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
              </div>
              <div class="col">
                                      <mat-form-field>
                            <input type="text" name="location" formControlName="location" matInput placeholder="Location Name" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
              </div>
              <div class="col">
             
                                              <mat-form-field>
                                  <mat-select formControlName="dlstat" name="dlstat" aria-placeholder="DL/LLR Status" >
                                    <mat-option value="">Select Status</mat-option>
                                      <mat-option value="DL">DL</mat-option>
                                      <mat-option value="LLR">LLR</mat-option>
                                  </mat-select>
                                </mat-form-field>

             
          </div>
         </div>
         <div class="row">
              <div class="col">
                       <mat-form-field>
                        <input type="text" name="veh" formControlName="veh" matInput placeholder="Vehicle Number" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
              </div>
              <div class="col">
                                                                            <mat-form-field>
                            <input type="text" name="dllr" formControlName="dllr" matInput placeholder="DL/LLR Number" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
                          </div>
             
              <div class="col">
               
                                                      <mat-form-field>
                            <input type="text" name="account" formControlName="account" matInput placeholder="Account Number" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
     
              </div>
         </div>
                    <div class="row">
              <div class="col">
                                                                              <mat-form-field>
                            <input type="text" name="location" formControlName="bank" matInput placeholder="Bank Name" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
          
              </div>
              <div class="col">
                                                            <mat-form-field>
                            <input type="text" name="location" formControlName="ifsc" matInput placeholder="IFSC CODE" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
              </div>
              <div class="col">
         

                          
                                                                                 <mat-form-field>
                            <input type="text" name="location" formControlName="bbranch" matInput placeholder="Branch Name" class="form-control">
                            <mat-error>This field is mandatory</mat-error>
                          </mat-form-field>
                         
              </div>
          </div>
  </div>
  </div>
  </form>
</div>

    <div class="row" *ngIf="!showbtns"  >
                          <div class="col"> <button  type="button" mat-raised-button color="primary" >Submit</button></div>
                          <div class="col"> <button  type="button" mat-raised-button color="warn" >Cancel</button></div>
                        </div>

</div>