<!DOCTYPE html>
<html lang="en">

<body>




<div class="container-fluid" >
  
    <app-logintab></app-logintab>
  
  <div class="row">
    <!-- <div class="col-sm-8"> -->
  
   
         <div id="mainlogo">
            <img   class="images" src={{img}}/>
          
          </div>


    <!-- </div> -->
          <!-- <hr class="d-sm-none"> -->
    <!-- <div class="col-sm-4">
     
      <p class="text-primary">
        <b>
        <mark>  PENNA DELIVERY SERVICES</mark>
              started with Mumbai as its headquarters and
              set up with an aim of providing tailor made
              Supply Chain Services’ Solutions Delivery
              to our esteemed clients PDS started its
              business with providing Last Mile Delivery
              Services to India’s leading online market
              place Amazon, handling the Rayalaseema
              area of Andhra Pradesh state since 2015
              Starting
              with one town, PDS with its
              impeccable services has been able to expand
              its services to 9 towns cities of
              Rayalaseema zone of AP
              With
              our ability of setting up services at
              short notice at any place in India, we are
              actively pursuing the develop an array of
              logistics services to be offered across India
        </b>
      </p>
 



    </div> -->
  </div>
</div>


</body>
</html>
